.single-video-page {
  margin: 0 auto;
  padding-inline: 6%;
}

.svp-link {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 32px;
  padding-top: 24px;
}

.svp-link img {
  border-radius: 4px;
}

.svp-link img:hover {
  opacity: 0.7;
  transition: all ease-in-out 0.01s;
}

.movie-title {
  font-size: 28px;
  font-weight: 600;
}

.movie-rating {
  font-size: 20px;
  font-weight: 500;
}

.overview {
  font-weight: 500;
}
