.title-card {
  margin-top: 50px;
  margin-bottom: 20px;
}

.title-card h2 {
  margin-bottom: 8px;
}

.card-list::-webkit-scrollbar {
  display: none;
}
.card-list {
  display: flex;
  gap: 10px;
  overflow-y: scroll;
  /* margin-right: 6%; */
  padding-left: 10px;
  transition: all 0.3s ease-in-out;
}
.card-list img {
  width: 240px;
  border-radius: 4px;
  cursor: pointer;
}

.card-list .card {
  position: relative;
}
.card-list .card p {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
